/* Tuile n°1 Accueil */

.logo img {
  object-fit: cover;
  height: 70px;
}

.taille-tuile-1 {
  height: 85vh !important;
}

.gros-cercle {
  position: absolute;
  top: 50%;
  right: 27%;
  transform: translate(50%, -50%);
  height: 500px;
  width: 500px;
  padding: 80px;
  background-color: #f4e9e9;
  border-radius: 100%;
}

.gros-cercle .contenu-cercle {
  text-align: left;
  margin-top: 60px;
}

.gros-cercle .contenu-cercle a svg {
  margin-right: 15px;
}

.gros-cercle .contenu-cercle a {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  transform: translate(0px);
  color: #000000;
  margin-bottom: 20px;
}

.gros-cercle .contenu-cercle a:hover {
  text-decoration: none;
  color: #897c7c;
  transition: all 0.25s ease-in-out;
  transform: translate(+5px);
  margin-bottom: 20px;
}

.image-burger {
  width: 32px;
  height: 32px;
}

.mon-compte-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  color: #ffffff;
  float: right;
  transition: all 0.25s ease-in-out;
}

.menu-burger {
  display: grid;
  border-bottom-right-radius: 17px;
}

.menu-burger a {
  text-decoration: none;
  color: #ffffff;
  margin-top: 25px;
  transition: all 0.25s ease-in-out;
}

.menu-burger a:hover {
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}

.burger-button-menu {
  position: relative;
  top: 3px;
  left: 4px;
}

.modale-inscription {
  display: none;
  transition: all 0.5s;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modale-content-inscription {
  transform: scale(1.1);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #f4e9e9;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 17px;
  width: 600px;
}

.burger-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  transition: all 500ms ease-in-out;
  transform: rotate(0);
}
.burger-button:hover {
  transition: all 500ms ease-in-out;
  transform: rotate(360deg);
}
.burger-button svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  display: block;
}

.text-bg {
  background-color: #897c7c !important;
  color: #ffffff;
}

.burger {
  height: 32px;
  width: 32px;
}

#accueil {
  background-image: url("assets/AccueilPhoto.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

.bouton-berger {
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* Tuile n°2 Ques-ce que Makisine ? */

.titre-tuile-2 svg {
  margin-right: 25px;
}

.titre-tuile-2 h3 {
  vertical-align: bottom;
}

.tuile-2 {
  border: solid 1px #897c7c;
  border-radius: 71px;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tuile-2 div p {
  font-size: 20px;
}

.tuile-2 div {
  margin-bottom: 20px;
}

/* Tuile n°3 Catégrorie de recette */

.titre-tuile-3 svg {
  margin-right: 25px;
}

.tuile-3 {
  background-image: url("assets/images/BocauxTuile3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 1px #897c7c;
  border-radius: 71px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}

.tableau a li {
  text-decoration: none;
  margin-bottom: 50px;
}

.tableau a {
  color: #000000;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  transform: translate(0px);
  margin-bottom: 20px;
}

.tableau a :hover {
  text-decoration: none;
  color: #897c7c;
  transition: all 0.25s ease-in-out;
  transform: translate(+5px);
}

.tuile-3-interieur {
  width: 100%;
  height: 100%;
  border-radius: 71px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.6);
}

/* Tuile n°4 Recettes */

.titre-tuile-4 svg {
  margin-right: 25px;
}

.tuile-4 {
  width: 100%;
  height: 100%;
  border-radius: 71px;
  padding: 30px;
  border: solid 1px #897c7c;
  border-radius: 71px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.6);
}

.liste-recette div {
  border-radius: 16px;
  background-color: #897c7c;
  margin: auto;
  margin-bottom: 30px;
  width: 500px;
  padding: 30px;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap;
}

.liste-recette div H4 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
  margin-right: 30px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
}

/* Tuile n°5 Boutique */

.tuile-4 {
  width: 100%;
  height: 100%;
  border-radius: 71px;
  padding: 30px;
  border: solid 1px #897c7c;
  border-radius: 71px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.6);
}

.liste-recette div {
  border-radius: 16px;
  background-color: #897c7c;
  margin: auto;
  margin-bottom: 30px;
  width: 500px;
  padding: 30px;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap;
}

.liste-recette div H4 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
  margin-right: 30px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
}

/* tuile 5 boutique */

.splash-boutique {
  background-image: url("assets/images/ustensile-cuisine-transformed.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.splash-interieur {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.splash-interieur .box-button {
  text-decoration: none;
  height: 100px;
  width: 400px;
  border-radius: 17px;
  border: solid 2px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
}

.splash-interieur .box-button a {
  text-decoration: none;
  color: #897c7c;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

.splash-interieur .box-button :hover {
  transition: all 0.5s ease-in-out;
  letter-spacing: 2px;
}

#boutique {
  margin-top: 50px;
  height: 100vh;
}

/* tuile 6 Publiciité */

#pub {
  background-color: #897c7c;
  width: 100%;
}

.carousel-pub {
  width: 700px;
  height: 500px;
}

.carousel-item img {
  border-radius: 17px;
  object-fit: cover;
  width: 700px;
  height: 500px;
  position: relative;
  text-align: center;
}

.carousel-item div {
  position: absolute;
  color: #000000;
  z-index: 15;
  font-weight: bold;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  border-radius: 17px;
  padding: 15px 30px 0 30px;
  border: solid 2px rgba(137, 124, 124, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
}

/* MODALE DE CONNEXION*/

.h1-connexion {
  text-align: center;
  color: #897c7c;
  margin-bottom: 50px;
}

.form-connexion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #f4e9e9;
}

.form-connexion .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button1:hover {
  background-color: #000000;
  color: #f4e9e9;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button2:hover {
  background-color: #000000;
  color: #f4e9e9;
}

.button3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 4em;
  padding: 0.5em;
  border-radius: 7px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button3:disabled {
  cursor: no-drop;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 0.5em;
  border-radius: 7px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #897c7c;
  color: white;
  filter: contrast(0.4);
}

.button3:hover {
  background-color: #000000;
  color: #f4e9e9;
}

.button4 {
  color: white !important;
  --bs-btn-color: #fff;
  --bs-btn-bg: #897c7c !important;
  --bs-btn-border-color: #897c7c !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #897c7c;
  --bs-btn-hover-border-color: #897c7c;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #897c7c;
  --bs-btn-active-border-color: #897c7c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #897c7c !important;
  --bs-btn-disabled-border-color: #897c7c !important;
}

.button4:hover {
  border-color: #000000 !important;
  background-color: #000000 !important;
  color: #f4e9e9 !important;
}

.modale-connexion {
  display: none;
  transition: all 0.5s;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modale-content-connexion {
  transform: scale(1.1);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #f4e9e9;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 17px;
  width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.champ input:focus ~ label,
.champ input:valid ~ label {
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%) scale(0.8);
  background-color: rgba(244, 233, 233, 1);
  border: 1px solid rgba(137, 124, 124, 0.3);
  border-radius: 17px;
  padding: 2px 7px 2px 7px;
}

.champ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.7);
}

.champ input {
  border-radius: 17px;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  /* color: #897c7c; */
}

.champ textarea {
  border-radius: 17px;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  /* color: #897c7c; */
}

/* MODALE DE CONNEXION INSCRIPTION*/

.h1-inscription {
  text-align: center;
  color: #897c7c;
  margin-bottom: 20px;
}

.form-inscription {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 17px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #f4e9e9;
}

.form-inscription .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button1:hover {
  background-color: #000000;
  color: #f4e9e9;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button2:hover {
  background-color: #000000;
  color: #f4e9e9;
}

.modale-inscription {
  display: none;
  transition: all 0.5s;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modale-content-inscription {
  transform: scale(1.1);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #f4e9e9;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 17px;
  width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.champ {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.7);
}

.champ label {
  padding: 0;
  pointer-events: none;
  background: transparent;
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: smaller;
  color: black;
  position: absolute;
  left: 15px;
}
.form-select {
  background: none;
  border: none;
  outline: none;
}

.input-champ {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #897c7c;
  resize: none;
}

#column_gap {
  justify-content: space-between;
  display: flex;
  column-count: 6;
}

.ombre {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  border-radius: 100%;
}
.fleche-droite {
  width: 20px;
  height: 32px;
  background-color: #897c7c;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.fleche-gauche {
  width: 20px;
  height: 32px;
  background-color: #897c7c;
  clip-path: polygon(100% 100%, 100% 0, 0 50%);
}

.fleche {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bouton Accepter les cgu*/
.labelcgu {
  margin-top: 20px;
}

.form-label {
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1em;
  /* top: 290px;
  left: -444px; */
}

.form-label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 0;
  bottom: -3px;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 0.8rem 0rem 0.8rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.4em;
  left: 0em;
  bottom: 0em;
  background-color: #897c7c;
  transition: 0.4s;
  border-radius: 0.8rem 0rem 0.8rem;
  border: 4px solid #897c7c;
}

input:checked + .slider {
  background-color: #72eb67;
}

input:focus + .slider {
  box-shadow: 0 0 2px #897c7c;
}

input:checked + .slider:before {
  transform: translateX(2.2em);
  background-color: green;
  box-shadow: 0px 0px 40px 5px #72eb67;
  border: 1.9px solid #897c7c;
}

input:checked + .slider::after {
  content: "|";
  color: #f4e9e9;
  position: absolute;
  bottom: 2px;
  top: -7px;
  right: -2px;

  transform: rotate(45deg);
}

.cgu-et-bouton {
  top: 20px;
}

#autre-pays {
  display: none;
}

/* Footer  */

footer {
  padding-top: 70px;
  background-color: #897c7c;
}

.trait {
  border-top: solid rgba(0, 0, 0, 0.3) 2px;
}

.colonne-footer * {
  display: block;
  margin-bottom: 1px;
}

footer * a {
  color: #000000;
}

.footer-haut {
  margin-bottom: 30px;
}

.footer-bas {
  margin-top: 30px;
  font-size: medium;
}

.lien-reseaux-sociaux {
  font-size: xx-large;
}

.lien-reseaux-sociaux a {
  padding-right: 15px;
  line-height: 0px;
}

.qrCodeMakisine {
  height: auto;
  width: 80px;
  margin-left: 260px;
  margin-top: -109px;
}

/* FIL D'ARIANE */

#inscription-value-1 {
  color: #ffffff;
}

.radio-input {
  margin-bottom: 35px;
  --container_width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 17px;
  background-color: #897c7c;
  color: #000000;
  width: 100%;
  overflow: hidden;
  border: 1px solid #897c7c;
}

.fil-ariane li:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-width: 50%;
}
.radio-input li {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 14px;
}

.selection {
  display: none;
  position: absolute;
  height: 100%;
  width: calc(var(--container_width) / 3);
  z-index: 0;
  left: 0;
  top: 0;
  transition: 0.15s ease;
}

.radio-input li:has(input:checked) {
  color: #fff;
}

.radio-input li:has(input:checked) ~ .selection {
  background-color: none;
  display: inline-block;
}

.radio-input li:nth-child(1):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 0 / 3));
}

.radio-input li:nth-child(2):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 1 / 3));
}

.radio-input li:nth-child(3):has(input:checked) ~ .selection {
  transform: translateX(calc(var(--container_width) * 2 / 3));
}

.form-select-makisine {
  background: none;
  border: none;
  outline: none !important;
  margin-left: 2px;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-size: 16px 12px;
  border-radius: 0.375rem;
}

#inscriptions-coordonnees {
  display: flex;
  width: 100%;
  height: 100%;
}

#inscriptions-adresse {
  width: 100%;
  height: 100%;
  display: none;
}
#inscriptions-avatar {
  width: 100%;
  height: 100%;
  display: none;
}
#inscriptions-verifications {
  width: 100%;
  height: 100%;
  display: none;
}
.content-inscription-forms {
  height: 450px;
}

/* PUZZLE */

#puzzle {
  width: 80%;
  margin-left: 50px;
}

.puzzle-piece {
  height: auto;
  border: 1px solid black;
  background-size: cover;
  float: left;
  width: 33.33%;
  /* position: absolute; */
}

#piece1 {
  top: 0;
  left: 0;
}

#piece2 {
  top: 0;
  left: 100px;
}

#piece3 {
  top: 0;
  left: 200px;
}

#piece4 {
  top: 1;
  left: 300px;
}

#piece5 {
  top: 1;
  left: 200px;
}

#piece6 {
  top: 1;
  left: 200px;
}

#piece7 {
  top: 0;
  left: 200px;
}

#piece8 {
  top: 0;
  left: 200px;
}

#piece9 {
  top: 0;
  left: 200px;
}

/* AVATAR */

.rond-avatar {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: solid #897c7c 4px;
  position: relative;
  display: block;
}

.rond-avatar a {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  color: #000000;
  text-decoration: none;
}

/* Contact */
.contact {
  height: 100%;
  display: flex;
}

#contact {
  background: url("assets/images/background-contact.jpg");
  background-size: cover;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

#contact-2 {
  background: url("assets/images/contact2.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  background-position: center left;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
}
#contact-3 {
  background: url("assets/images/contact-3.jpg");
  background-size: cover;
  width: 100%;
  height: 80vh;
  background-position: center left;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
}

#section-radis {
  background-color: #897c7c;
  padding-top: 5px;
  padding-bottom: 5px;
}

#contact-2 .container {
  height: 80vh !important;
}

.gros-cercle-2 {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 500px;
  width: 500px;
  padding: 80px;
  background-color: #897c7c;
  border-radius: 100%;
  color: #f4e9e9;
}

#contact h1 {
  color: #f4e9e9;
  text-align: center;
  margin-bottom: 40px;
}

#contact .container {
  height: 80vh !important;
}

.filtre-gris {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  position: relative;
  height: 100%;
}

.separateur-de-texte-contact {
  text-align: center;
  height: auto;
  width: 100%;
}

.contact-adresse {
  text-align: center;
  width: 50%;
  height: 100% !important;
}

.adresse-postale h3 {
  margin-top: -50px;
}

.adresse-postale .coordonnees-contact {
  margin-top: 50px;
}

.right {
  text-align: center;
}

.taille-contact {
  height: 100%;
}

.formulaire {
  border-radius: 11px;
  padding: 31px;
  position: absolute;
  right: 25%;
  top: 50%;
  height: 70vh;
  width: 400px;
  background-color: #f4e9e9;
  transform: translate(50%, -50%);
}
.formulaire h3 {
  margin-bottom: 31px;
  font-style: italic;
  margin-top: -13px;
}

.adresse-postale {
  transform: translate(72%, -7%);
  margin-top: 41px;
  height: 328px;
  width: 338px;
  padding: 92px;
  background-color: #897c7c;
  border-radius: 100%;
}

.coordonnees-tel {
  margin-top: 20px;
  margin-left: -41px;
}

.coordonnees-mail {
  margin-top: 20px;
  margin-left: -41px;
}

.coordonnees-tel a {
  color: #000000;
}

.coordonnees-mail a {
  color: #000000;
}

.horaire-contact {
  transform: translate(70%, 6%);
  margin-top: 3px;
  height: 328px;
  width: 338px;
  padding: 92px;
  background-color: #897c7c;
  border-radius: 100%;
  text-align: center;
}

.horaire-contact h3 {
  margin-top: -50px;
}

.horaire-contact p {
  margin-top: 39px;
}

.input-contact {
  color: #897c7c;
}

.contact-logo {
  transform: translateX(-50%);
  margin-left: 50%;
}

/* MOT DE PASSE OUBLIE */

.image-mdp-oublie {
  position: relative;
}

.h1-mdp-oublie {
  position: absolute;
  margin-left: 585px;
  margin-top: 63px;
  color: #ffffff;
}

.form-mdp-oublie {
  border-radius: 11px;
  padding: 31px;
  position: absolute;
  right: 75%;
  top: 60%;
  height: 41vh;
  width: 400px;
  background-color: #f4e9e9;
  transform: translate(50%, -50%);
}

.taille-contact-mdp-oublie {
  height: 100%;
  margin-top: 10px;
}

.taille-contact-mdp-oublie .button2 {
  margin-top: 30px;
}

.form-mdp-oublie h4 {
  margin-top: 2px;
  margin-bottom: 30px;
  text-align: center;
}

#mdp-oublie {
  background: url("assets/images/photo-mdp-oublie.avif");
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-position: center left;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
}

#mdp-oublie > div {
  background-color: rgb(0 0 0 / 12%);
  width: 100%;
  height: 100%;
}

.p-mdp-oublie {
  position: absolute;
  top: 82%;
  left: 25%;
  transform: translateX(-50%);
  font-size: smaller;
}

/* ATTENTE DE VALIDATION */

#attente-validation {
  background: url("assets/images/photo-attente-de-validation.avif");
  background-size: cover;
  width: 100%;
  height: 90vh;
  background-position: center left;
  background-repeat: no-repeat;
  margin: auto;
  padding: 0;
}

.bloc-en-attente-validation {
  background-color: #f4e9e9;
  padding: 24px;
  border-radius: 17px;
  height: 600px;
  margin-top: 72px;
}

.table-en-attente-validation {
  height: calc(100% - 30px);
  display: inline-block;
  overflow: auto;
  border-collapse: collapse;
}

.table-en-attente-validation thead {
  position: sticky;
  background: #897c7c;
  top: 0;
  border-radius: 17px;
}

.tr-td-attente-validation {
  color: #f4e9e9;
}

.h1-attente-validation {
  text-align: center;
  color: #897c7c;
}

.h2-recette-validation-attente {
  font-size: 2rem;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 15px;
  color: #897c7c;
}

/* BOUTON REMONTER EN HAUT */

#bouton-remonter {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
}
#bouton-remonter img {
  width: 50px;
  margin-right: 30px;
}

/* LES COOKIES */

#banniere-cookies {
  display: none;
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: #f4e9e9;
  font-size: 14px;
  height: 230px;
  position: fixed;
  border: 2px solid #897c7c;
  padding: 10px;
  border-radius: 50px 20px;
}

.image-cookies {
  background: url("assets/images/cookies.avif");
}

.h4-cookies {
  text-align: center;
}

.button-cookies {
}

#page-cookies {
  background: url("assets/images/cookies-background.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

.h2-page-cookies {
  padding-top: 15px;
  margin-bottom: 30px;
  color: #897c7c;
}

.p-page-cookies {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  border: 2px solid #897c7c;
  border-radius: 50px 20px;
  text-align: justify;
}

.p-page-cookies p {
  margin-bottom: 6px;
}
