/* Tuile n°1 Accueil */

.logo img {
  object-fit: cover;
  height: 70px;
}

.taille-tuile-1 {
  height: 85vh !important;
}

.gros-cercle {
  position: absolute;
  top: 50%;
  right: 27%;
  transform: translate(50%, -50%);
  height: 500px;
  width: 500px;
  padding: 80px;
  background-color: #f4e9e9;
  border-radius: 100%;
}

.gros-cercle .contenu-cercle {
  text-align: left;
  margin-top: 60px;
}

.gros-cercle .contenu-cercle a svg {
  margin-right: 15px;
}

.gros-cercle .contenu-cercle a {
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  transform: translate(0px);
  color: #000000;
  margin-bottom: 20px;
}

.gros-cercle .contenu-cercle a:hover {
  text-decoration: none;
  color: #897c7c;
  transition: all 0.25s ease-in-out;
  transform: translate(+5px);
  margin-bottom: 20px;
}

.image-burger {
  width: 32px;
  height: 32px;
}

.mon-compte-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  color: #ffffff;
  float: right;
  transition: all 0.25s ease-in-out;
}

.burger-button {
  width: 32px;
  height: 32px;
  display: inline-block;
  float: left;
  transition: all 500ms ease-in-out;
  transform: rotate(0);
}
.burger-button:hover {
  transition: all 500ms ease-in-out;
  transform: rotate(360deg);
}
.burger-button svg {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  display: block;
}

.text-bg {
  background-color: #897c7c !important;
  color: #ffffff;
}

.burger {
  height: 32px;
  width: 32px;
}

#accueil {
  background-image: url("assets/AccueilPhoto.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

.bouton-berger {
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

/* Tuile n°2 Ques-ce que Makisine ? */

.titre-tuile-2 svg {
  margin-right: 25px;
}

.titre-tuile-2 h3 {
  vertical-align: bottom;
}

.tuile-2 {
  border: solid 1px #897c7c;
  border-radius: 71px;
  text-align: center;
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tuile-2 div p {
  font-size: 20px;
}

.tuile-2 div {
  margin-bottom: 20px;
}

/* Tuile n°3 Catégrorie de recette */

.titre-tuile-3 svg {
  margin-right: 25px;
}

.tuile-3 {
  background-image: url("assets/images/BocauxTuile3.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: solid 1px #897c7c;
  border-radius: 71px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
}

.tableau a li {
  text-decoration: none;
  margin-bottom: 50px;
}

.tableau a {
  color: #000000;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  transform: translate(0px);
  margin-bottom: 20px;
}

.tableau a :hover {
  text-decoration: none;
  color: #897c7c;
  transition: all 0.25s ease-in-out;
  transform: translate(+5px);
}

.tuile-3-interieur {
  width: 100%;
  height: 100%;
  border-radius: 71px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.6);
}

/* Tuile n°4 Recettes */

.titre-tuile-4 svg {
  margin-right: 25px;
}

.tuile-4 {
  width: 100%;
  height: 100%;
  border-radius: 71px;
  padding: 30px;
  border: solid 1px #897c7c;
  border-radius: 71px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.6);
}

.liste-recette div {
  border-radius: 16px;
  background-color: #897c7c;
  margin: auto;
  margin-bottom: 30px;
  width: 500px;
  padding: 30px;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap;
}

.liste-recette div H4 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
  margin-right: 30px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
}

/* Tuile n°5 Boutique */

.tuile-4 {
  width: 100%;
  height: 100%;
  border-radius: 71px;
  padding: 30px;
  border: solid 1px #897c7c;
  border-radius: 71px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: large;
  background-color: rgba(255, 255, 255, 0.6);
}

.liste-recette div {
  border-radius: 16px;
  background-color: #897c7c;
  margin: auto;
  margin-bottom: 30px;
  width: 500px;
  padding: 30px;
  align-items: center !important;
  justify-content: center !important;
  display: flex !important;
  flex-wrap: wrap;
}

.liste-recette div H4 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
  margin-right: 30px;
}

.liste-recette div img {
  border-radius: 71px;
  width: 300px;
  object-fit: cover;
  height: 300px;
  display: flex !important;
}

/* tuile 5 boutique */

.splash-boutique {
  background-image: url("assets/images/ustensile-cuisine-transformed.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.splash-interieur {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.splash-interieur .box-button {
  text-decoration: none;
  height: 100px;
  width: 400px;
  border-radius: 17px;
  border: solid 2px rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
}

.splash-interieur .box-button a {
  text-decoration: none;
  color: #897c7c;
  font-weight: bold;
  font-style: italic;
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}

.splash-interieur .box-button :hover {
  transition: all 0.5s ease-in-out;
  letter-spacing: 2px;
}

#boutique {
  margin-top: 50px;
  height: 100vh;
}

/* tuile 6 Publiciité */

#pub {
  background-color: #897c7c;
  width: 100%;
}

.carousel-pub {
  width: 700px;
  height: 500px;
}

.carousel-item img {
  border-radius: 17px;
  object-fit: cover;
  width: 700px;
  height: 500px;
  position: relative;
  text-align: center;
}

.carousel-item div {
  position: absolute;
  color: #000000;
  z-index: 15;
  font-weight: bold;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  text-decoration: none;
  border-radius: 17px;
  padding: 15px 30px 0 30px;
  border: solid 2px rgba(137, 124, 124, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
}



/* MODALE DE CONNEXION MON COMPTE*/

.h1-connexion {
  text-align: center;
  color: #897c7c;
  margin-bottom: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #f4e9e9;
}


.modal-connexion {
  display: none;
  transition: all 0.5s;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content-connexion {
 
  transform: scale(1.1);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #f4e9e9;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 17px;
  width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.champ {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-champ {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #897c7c;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  margin-right: 0.5em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button1:hover {
  background-color: #000000;
  color: #F4E9E9;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button2:hover {
  background-color: #000000;
  color: #F4E9E9;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #897c7c;
  color: white;
}

.button3:hover {
  background-color: #000000;
  color: #F4E9E9;
}



/* Footer  */

footer {
  padding-top: 70px;
  background-color: #897c7c;
}

.trait {
  border-top: solid rgba(0, 0, 0, 0.3) 2px;
}

.colonne-footer * {
  display: block;
}

footer * a {
  color:#000000
}

.footer-haut {
  margin-bottom: 30px;
}

.footer-bas {
  margin-top: 30px;
  font-size: medium;
}

.lien-reseaux-sociaux {
  font-size: xx-large;
}

.lien-reseaux-sociaux a {
  padding-right: 15px;
  line-height: 0px;
}

.menu-burger {
  display: grid;
  border-bottom-right-radius: 17px;
}

.menu-burger a {
  text-decoration: none;
  color: #ffffff;
  margin-top: 25px;
  transition: all 0.25s ease-in-out;
}

.menu-burger a:hover{
  transform: scale(1.1);
  transition: all 0.25s ease-in-out;
}

.burger-button-menu {
  position: relative;
  top: 3px;
  left: 4px;
}