/* .selector-for-some-widget {
    box-sizing: content-box;
  }; */

  .image-burger {
    width: 240px;
    height: 240px;
  } 
  .text-bg {
    background-color: #897C7C !important;
    color: #DEC7B1;
}

.burger{
height: 32px; 
width: 32px;
}

#accueil {
  background-image: url("assets/AccueilPhoto.png");
  width: 100%;
  height: 100%;
  background-size: cover; /* or "contain" depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}

.bouton-berger{
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex ;
  justify-content: center;
  align-items: center;
  background-color: white
}


